{{ define "main" }}
  {{ partial "page-header" . }}


  <!-- script defer language="javascript" type="text/javascript" src="{{ " /js/accordion.js" | urlize | relURL }}"></script-->

  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <h6 class="self-center">Insights are temporal notices, reviews and notes - that "expire".</h6>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row gx-5"></div>

      <div class="row gx-5">
        <!-- insight (blog) posts -->
        <div class="lg:col-8">
          <div class="row">
            {{ $paginator:= .Paginate .RegularPages }}
            {{ range $paginator.Pages }}
              <div class="md:col-6 mb-14">
                {{ partial "components/insight-card" . }}
              </div>
            {{ end }}
          </div>
          {{ partial "components/pagination.html" . }}
        </div>

        <!-- sidebar -->
        <div class="lg:col-4">
          <!-- calendar widget -->

          <!--------------------------------------------------->

          <!-- accordion component
          https://tailwindcomponents.com/component/faq-1
          -->
          <div class="lg:container lg:mx-auto lg:py-16 md:py-12 md:px-6 py-12 px-4">
            <div class="lg:w-8/12 w-full mx-auto">
              <div class="w-full md:px-6">
                <div id="mainHeading">
                  <div class="">
                    <p class="flex text-base ">Q1.2018</p>
                  </div>
                  <button aria-label="toggler" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800" data-menu>
                    <img class="transform dark:hidden " src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2.svg" alt="toggler" />
                    <img class="transform dark:block hidden " src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2dark.svg" alt="toggler" />
                  </button>
                </div>
                <div id="menu" class="hidden">
                  <p class="text-base">2022</p>
                </div>
              </div>

              <!-- Question 2 -->

              <hr class="w-full lg:mt-10 my-8" />

              <div class="w-full md:px-6">
                <div id="mainHeading" class="flex justify-between items-center w-full">
                  <div class="">
                    <p class="flex justify-center items-center dark:text-white font-medium text-base leading-6 lg:leading-4 text-gray-800"><span class="lg:mr-6 dark:text-white mr-4 lg:text-2xl md:text-xl text-lg leading-6 md:leading-5 lg:leading-4 font-semibold text-gray-800">Q2.</span> 2015</p>
                  </div>
                  <button aria-label="toggler" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800" data-menu>
                    <img class="transform dark:hidden " src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2.svg" alt="toggler" />
                    <img class="transform dark:block hidden " src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2dark.svg" alt="toggler" />
                  </button>
                </div>
                <div id="menu" class="hidden mt-6 w-full">
                  <p class="text-base leading-6 text-gray-600 dark:text-gray-300 font-normal">Remember you can query the status of your orders any time in My orders in the My account section. if you are not resigered at Mango.com, you can access dierectly in the Orders section. In this cause, you will have enter your e-mail address and order number.</p>
                </div>
              </div>

              <hr class="w-full lg:mt-10 my-8" />
            </div>
          </div>

          <script>
            let elements = document.querySelectorAll("[data-menu]");
            for (let i = 0; i < elements.length; i++) {
              let main = elements[i];

              main.addEventListener("click", function () {
                let element = main.parentElement.parentElement;
                let indicators = main.querySelectorAll("img");
                let child = element.querySelector("#menu");
                let h = element.querySelector("#mainHeading>div>p");

                h.classList.toggle("font-semibold");
                child.classList.toggle("hidden");
                // console.log(indicators[0]);
                indicators[0].classList.toggle("rotate-180");
              });
            }
          </script>

          <!--------------------------------------------------->

          <h5>Insights by Month</h5>

          <!-- execute of template failed: template: insights/list.html:26:70: executing "main" at <.URL>: can't evaluate field URL in type *hugolib.pageState      -->
          {{ $currentTaxonomy := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}
          <!-- .Pages | jsonify }}
          # Pages = len .Pages }}; # .Site.Pages =  len .Site.Pages }}<br />

          -->

          <!--  partialCached "calendar"
            "CurrentTaxonomy" $currentTaxonomy vs. context" .
          -->

          {{ $archive:= .Pages.GroupByDate "2006" }}

          {{ partialCached "calendar" (dict "context" . "from" 2010 "fromMonth" 1 "to" (now.Format "2006") "toMonth" (now.Format "1") "pages" .Site.Pages) }}


          <hr />
          <br />
          <!-- partialCached "calendar" ( dict "Archive" $archive "from" "2016" "to" "2024" "fromMonth" "1" "toMonth" "12" ) -->

          <!-- widget -->
          {{ $widget:= site.Params.widgets.sidebar }}
          {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
