{{ define "main" }}
  {{ partial "page-header" . }}


  <section class="section">
    <div class="container">
      <ul class="text-center">
        {{/* categories */}}
        {{ if eq .Permalink (`categories/` | absLangURL) }}
          {{ range site.Taxonomies.categories.ByCount }}
            <li class="inline-block m-3">
              <a href="{{ .Page.Permalink }}" class="block px-4 py-2 text-xl rounded bg-theme-light text-dark dark:bg-darkmode-theme-light dark:text-darkmode-dark">
                {{ .Page.Title }}
                <span class="px-2 ml-2 rounded bg-body dark:bg-darkmode-body">
                  {{ .Count }}
                </span>
              </a>
            </li>
          {{ end }}
        {{ end }}
        {{/* tags */}}
        {{ if eq .Permalink (`tags/` | absLangURL) }}
          {{ range site.Taxonomies.tags.ByCount }}
            <li class="inline-block m-3">
              <a href="{{ .Page.Permalink }}" class="block px-4 py-2 text-xl rounded bg-theme-light text-dark dark:bg-darkmode-theme-light dark:text-darkmode-dark">
                {{ .Page.Title }}
                <span class="px-2 ml-2 rounded bg-body dark:bg-darkmode-body">
                  {{ .Count }}
                </span>
              </a>
            </li>
          {{ end }}
        {{ end }}
        {{/* topics */}}
        {{ if eq .Permalink (`topics/` | absLangURL) }}
          {{ range site.Taxonomies.topics.ByCount }}
            <li class="inline-block m-3">
              <a href="{{ .Page.Permalink }}" class="block px-4 py-2 text-xl rounded bg-theme-light text-dark dark:bg-darkmode-theme-light dark:text-darkmode-dark">
                {{ .Page.Title }}
                <span class="px-2 ml-2 rounded bg-body dark:bg-darkmode-body">
                  {{ .Count }}
                </span>
              </a>
            </li>
          {{ end }}
        {{ end }}
        {{/* keywords */}}
        {{ if eq .Permalink (`keywords/` | absLangURL) }}
          {{ range site.Taxonomies.keywords.ByCount }}
            <li class="inline-block m-3">
              <a href="{{ .Page.Permalink }}" class="block px-4 py-2 text-xl rounded bg-theme-light text-dark dark:bg-darkmode-theme-light dark:text-darkmode-dark">
                {{ .Page.Title }}
                <span class="px-2 ml-2 rounded bg-body dark:bg-darkmode-body">
                  {{ .Count }}
                </span>
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </section>
{{ end }}
