.dist
.tmp
.lock
.sass-cache
npm-debug.log
node_modules/
builds

# Hugo 'reserved' directories
public/
docs/
resources/*
resourceCache/*

.hugo_build.lock
jsconfig.json
hugo_stats.json
go.sum
yarn.lock

# System Files
.DS_Store
Thumbs.db
