<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Arc Tree</title>

    <!-- link rel="icon" type="image/x-icon" href="./logo.jpg" / -->
    <link rel="stylesheet" href="./arc-tree.css" />
    <script defer src="./arc-tree.js"></script>
    <script defer type="text/javascript" src="./purify.min.js"></script>
  </head>
  <body>
    <div id="TreeOptions">
      <div>Tree Options:<br /></div>
      <input type="button" value="Collapse Leafs " onclick="collapseLeafs();" />
      <input type="button" value="Show Leafs " onclick="showLeafs();" />
      <br />
      <input type="button" value="Collapse Entire Tree" onclick="collapseTree();" />
      <input type="button" value=" Expand Entire Tree " onclick="expandTree();" />

      <div>
        <label title="Font size in em's" id="fontSizeLabel">
          Font size: <span id="fontSizeValue"></span> &nbsp;

          <input type="range" step="0.5" min="0.5" value="1.0" max="5" id="fontSize" list="stepList" oninput="setFontSize(this)" />
          <datalist id="stepList">
            <option>1.0</option>
            <option>2.0</option>
            <option>3.0</option>
            <option>4.0</option>
            <option>5</option>
          </datalist>
        </label>
      </div>
    </div>

    <label> Select a JSON file to view: <input type="file" onChange="fileChange(this.files[0])" accept=".json" id="arcTreeFile" /> </label>

    <ul id="unorderedArcTree" class="tree"></ul>
  </body>
</html>
