<!--  originally based on https://codepen.io/bisserof/pen/nrMveb
-->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Arc Tree</title>

    <!-- link rel="icon" type="image/x-icon" href="./logo.jpg" / -->
    <link rel="stylesheet" href="./arc-tree.css" />
    <script defer src="./arc-tree.js"></script>
  </head>
  <body>
    <div id="TreeOptions">
      <div>Tree Options:<br /></div>
      <input type="button" value="Collapse Entire Tree" onclick="collapseTree();" />
      <input type="button" value="Expand Entire Tree" onclick="expandTree();" />

      <div>
        <label title="Font size in em's" id="fontSizeLabel">
          Font size: <span id="fontSizeValue">2</span>
          <input type="range" value="2.5" id="fontSize" step="0.5" min="0.5" max="5" list="steplist" oninput="document.querySelector('#fontSizeValue').textContent = this.value" />
          <datalist id="steplist">
            <option>0.5</option>
            <option>1.0</option>
            <option>2.0</option>
            <option>3.0</option>
            <option>4.0</option>
            <option>5</option>
          </datalist>
        </label>
      </div>
    </div>

    <ul id="JSONunorderedList"></ul>

    <ul class="tree">
      <li>
        <input type="checkbox" id="c1" />
        <label class="tree_label" for="c1">Level 0</label>
        <ul>
          <li>
            <input type="checkbox" checked="checked" id="c2" />
            <label for="c2" class="tree_label">Level 1</label>
            <ul>
              <li><span class="tree_label">Level 2</span></li>
              <li><span class="tree_label">Level 2</span></li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="c3" />
            <label for="c3" class="tree_label">Ll 1 <br />label text <br />with line-breaks</label>
            <ul>
              <li><span class="tree_label">Level 2</span></li>
              <li>
                <input type="checkbox" id="c4" />
                <label for="c4" class="tree_label"><span class="tree_custom">Specified tree item view</span></label>
                <ul>
                  <li><span class="tree_label">Level 3</span></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <input type="checkbox" id="c5" />
        <label class="tree_label" for="c5">Level 0</label>
        <ul>
          <li>
            <input type="checkbox" id="c6" />
            <label for="c6" class="tree_label">Level 1</label>
            <ul>
              <li><span class="tree_label">Level 2</span></li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="c7" />
            <label for="c7" class="tree_label">Level 1</label>
            <ul>
              <li><span class="tree_label">Level 2</span></li>
              <li>
                <input type="checkbox" id="c8" />
                <label for="c8" class="tree_label">Level 2</label>
                <ul>
                  <li><span class="tree_label">Level 3</span></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </body>
</html>
