<div class="bg-body dark:bg-darkmode-body">
  {{ $image:= .Params.image }}
  {{ if $image }}
    {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mb-6 w-full rounded") }}
  {{ end }}


  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>

  <ul class="mb-4">
    <li class="mr-4 inline-block">
      <a href="{{ `authors/` | relLangURL }}{{ .Params.Authors | urlize }}/">
        <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.Authors }}
      </a>
    </li>

    <li class="mr-4 inline-block">
      <!--h6>Date</h6-->
      <i class="fa-regular fa-calendar mr-1"></i>{{ .Params.date  | time.Format ":date_short" }}
    </li>

    {{ $categories:= .Params.categories }}
    {{ if $categories }}
      <li class="mr-4 inline-block">
        <h6>Categories</h6>
        <i class="fa-regular fa-folder mr-1"></i>
        {{ range $i,$p:= $categories }}
          <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/" class="ms-1"
            >{{ . | humanize }}{{ if ne $i
              (sub (len $categories) 1)
            }}
              {{ "," }}
            {{ end }}
          </a>
        {{ end }}
      </li>
    {{ end }}

    {{ $tags:= .Params.tags }}
    {{ if $tags }}

      <li class="mr-4 inline-block">
        <h6>Tags</h6>
        <i class="fa-regular fa-folder mr-1"></i>
        {{ range $i,$p:= $tags }}
          <a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/" class="ms-1"
            >{{ . | humanize }}{{ if ne $i (sub
              (len $tags) 1)
            }}
              {{ "," }}
            {{ end }}
          </a>
        {{ end }}
      </li>
    {{ end }}
  </ul>

  <p class="mb-6">{{ .Summary }}</p>
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ T "read_more" }}
  </a>
</div>
