<!-- Purpose: Display a year's worth of months in a calendar -->

{{ $months := seq 12 }}
{{ $context := .context }}
{{ $year := .year }}
{{ $from := .from }}
{{ $fromMonth := .fromMonth }}
{{ $to := .to }}
{{ $toMonth := .toMonth }}

{{ $yearStr := printf "%04d" $year }}


<!-- STUPID code to force a cast, avoiding create an integer from the string
  the obvious:
  $yearInt := cast.ToInt $yearStr }}
  fails with:
  unable to cast []int{2016} of type []int to int
  and
  unable to cast "[2016]" of type string to int64
-->
{{ $temp := replace $yearStr "[" "" }}
{{ $temp2 := replace $temp "]" "" }}
{{ $yearInt := cast.ToInt $temp2 }}
<!--
  temp =  $temp }}; temp2 =  $temp2 }}; yearInt = $yearInt }}
-->

{{ $isLeapYear := false }}
{{ if eq (mod $yearInt 4) 0 }}
  {{ if or (ne (mod $yearInt 100) 0) (eq (mod $yearInt 400) 0) }}
    {{ $isLeapYear = true }}
    <!-- 2012, 2016, 2020 are leap years -->
  {{ end }}
{{ end }}

{{ $ctx := dict
  "vendor" "bootstrap"
  "name" "house"
}}
<!-- { partial "icons/icon" $ctx }} -->

<!-- i class="fas fa-info-circle"></i-->

<div class="calendar-year">
  <!-- accordion component from https://tailwindcomponents.com/component/faq-1 -->
  <div class="lg:container ">
    <div id="mainHeading">
      <button aria-label="toggler" toggle-item class="mr-3">
        <!--i class="far fa-folder-plus">
          <img src="/images/arrow-right.svg" alt="expand2" class="transform myFolder " width="12px" />
        </i-->
        <!--  https://fontawesome.com/  -->
        <!-- class="dark:hidden"  -->
        <!--img src="/images/minus-1.svg" alt="expand2" class="transform myFolder hidden" width="12px" /-->

        <header>
          <span class="flex text-base close-folder">
            <i class="far fa-folder-closed"> </i>
            <img src="/images/plus-1.svg" alt="closed folder" class="close-folder-img" width="12px" />

            &nbsp;&nbsp;
            {{ $articlesThisYear := index ($context.Scratch.Get "ArticlesPerYear") ( $yearStr ) }}
            {{ if gt $articlesThisYear 0 }}
              <a href="/archive/{{ $year }}/">
                <h5>{{ $yearStr }}</h5>
              </a>
              <span class="calendar-yearTotals">&nbsp; ({{ $articlesThisYear }})</span>
            {{ end }}
          </span>
        </header>
      </button>
    </div>

    <div id="menu" class="hidden text-base">
      {{ range $months }}
        {{ if or (and (ne $year $from) (ne $year $to)) (and (eq $year $from) (ge . $fromMonth)) (and (eq $year $to) (le . $toMonth)) }}
          {{ partialCached "calendar/month" (dict "context" $context "year" $year "isLeapYear" $isLeapYear "month" .) (string  (delimit (slice $year .) "")) }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
