{{ $context := .context }}
{{ $from := int .from }}
{{ $fromMonth := int .fromMonth }}
{{ $to := int .to }}
{{ $toMonth := int .toMonth }}
{{ $pages := .pages }}

Calendar to call year with From:
{{ $from }}-{{ $fromMonth }}
To: {{ $to }}-{{ $toMonth }} <br />

# of pages =
{{ (len .pages) }}

{{ $context.Scratch.Set "currentYear" $from }}
{{ $context.Scratch.Add "consideredYears" (slice $from) }}

{{ range ($pages.GroupByPublishDate "2006") }}
  {{ $context.Scratch.SetInMap "ArticlesPerYear" .Key ((len .Pages)) }}
  <!-- $context.Scratch.SetInMap "ArticlesPerYear" .Key (len .pages) -->
{{ end }}

{{ range ($pages.GroupByPublishDate "2006-01") }}
  {{ $context.Scratch.SetInMap "ArticlesPerMonth" .Key (len .Pages) }}
{{ end }}

{{ range ($pages.GroupByPublishDate "2006-01-02") }}
  {{ $context.Scratch.SetInMap "ArticlesPerDay" .Key (len .Pages) }}
{{ end }}

{{ range $i, $sequence := (seq ((sub $to $from))) }}
  {{ $currentYear := $context.Scratch.Get "currentYear" }}
  {{ $nextYear := (add $from $sequence) }}

  {{ if le $nextYear $to }}
   
    <!-- Adding slice $nextYear === ' $nextYear }}' === ' slice $nextYear }}'<br /-->

    {{ $context.Scratch.Add "consideredYears" ($nextYear) }}
	<!-- had been: $context.Scratch.Add "consideredYears" (slice $nextYear) }} -->
    {{ $context.Scratch.Set "currentYear" $nextYear }}
 	<!-- br />Adding consideredYears: slice  $nextYear }}<br /-->
  {{ end }}

{{ end }}

{{ range ($context.Scratch.Get "consideredYears") }}
  <br />Calendar calling year '{{ . }}' with From: {{ $from }}-{{ $fromMonth }} To: {{ $to }}-{{ $toMonth }}<br />

  {{ partialCached "calendar/year" (dict "context" $context "year" . "from" $from "fromMonth" $fromMonth "to" $to
    "toMonth" $toMonth) (string (delimit (slice $from $fromMonth $to $toMonth .) ""))
  }}
{{ end }}

